<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/pokemon.css">
    <title>MyPokemon</title>

</head>

<body>
    <!--첫번째 화면-->
    <div class="screen">
        <div class="screen_title">
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
            <p>나와 닮은 포켓몬</p>
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
        </div>
        <div id="first_screen_question">
            <p>나를 닮은 포켓몬은 무엇일까요?</p>
        </div>
        <div id="photo_adjustment">
            <p>사진을 끌어 넣어 보세요! </p>
        </div>
        <div id="first_screen_start_button"><button class="start_click">
                <p>실행 chu?</p> <img src="../images/pikachu1.png" alt="" id="static1">
                <img src="https://media.giphy.com/media/NfmqJkgxr6VEc/giphy.gif" alt="" id="animated1">
            </button></div>
    </div>
</body>

</html>