<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/pokemon.css">
    <title>MyPokemon</title>

</head>

<body>
    <!--마지막 화면-->
    <div class="screen">
        <div class="screen_title">
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
            <p>나와 닮은 포켓몬</p>
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
        </div>

        <div id="last_screen_result">
            <div>
                <p>닮은 꼴 포켓몬 사진</p>
            </div>
        </div>

        <div id="last_screen_result_contents">
            <div>
                <p>실행 결과</p>
                <p>당신은 ---</p>
            </div>
        </div>



        <div id="last_screen_bottom">
            <div id="last_screen_return_button"><button class="start_click">
                    <p>처음으로 돌아가기</p> <img src="../images/turtle1.png" alt="" width="100px" height="100px"
                        border-radius="50%" id="static2">
                    <img src="https://t1.daumcdn.net/cfile/tistory/276C463958D371D817" alt="" id="animated2">
                </button></div>

            <div id="last_screen_share_button"><button class="start_click">
                    <p>친구에게 공유하기</p> <img src="../images/fire1.png" alt="" id="static3">
                    <img src="https://thumbs.gfycat.com/AssuredSecretLeonberger-size_restricted.gif" alt=""
                        id="animated3">
                </button></div>

        </div>



</body>

</html>