<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/pokemon.css">
    <title>MyPokemon</title>

</head>

<body>
    <!--로딩 화면-->
    <div class="screen">
        <div class="screen_title">
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
            <p>나와 닮은 포켓몬</p>
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
        </div>

        <div id="loading_screen">
            <img height="240px"
                src="https://post-phinf.pstatic.net/MjAxODAzMjJfMTU1/MDAxNTIxNjk1MjA4NjQw.0u5eFltqVGXX82UCzbq0eByAxq3SIpGMjvnh5tPHtewg.gmteItEObSTt-wbo60O9tkhdAQ3Iafj1YExJnOGwn1og.GIF/tumblr_m2nz2oZu2S1qkb6keo1_500.gif?type=w1200">

            <div id="loading_data_text">
                <h2>얼굴 분석중 ...</h2>
            </div>
        </div>


    </div>


</body>

</html>