<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/pokemon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/pokemon.css">
</head>

<!--수정-->
<!--전체 크기 늘리기-->
<!--유저사진데이터 넣는곳 택스트(사진을 끌어 넣어 보세요)글자 가운데로 수정-->
<!--로딩창 이미지 글 가운데로 수정 -->
<!--마지막 결과창 버튼 가로로정렬하기 -->


<body>
<!--스타일 body display:grid로 수정-->
<!--**첫번째 화면-->
<div class="screen">
    <div class="screen_title">
        <p><img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px">
            나와 닮은 포켓몬
            <img src="../images/free-icon-pokeball-743977.png" width="36px" height="36px"></p>
    </div>
    <div id="first_screen_question">
        <p>나를 닮은 포켓몬은 무엇일까요?</p>
    </div>
    <!--        숨길 div를 묶어주기위해 div 설정-->
    <div class="div_hide">
        <div id="photo_adjustment">
            <!--            **드레그엔 드랍 구역-->
            <!--            스타일 수정-->
            <!--            width 100% height 100%-->
            <div id="imgbox" class="input_img" style='width: 100%; height: 100%; display:block;'>
                <p class="text_hide">사진을 끌어 넣어 보세요! </p>
            </div>
        </div>
        <!--       실행chu 버튼을 실행시 온클릭의 함수 수정해야됨 현재 flask와 연결이 안되서 ajax 통신을 할 수없는 상황이라 값을 넣어놓지 않았음-->

        <div id="first_screen_start_button">
            <button class="start_click">
                <p>실행 chu?</p>
                <img src="../images/pikachu1.png" alt="" id="static1">
                <img src="https://media.giphy.com/media/NfmqJkgxr6VEc/giphy.gif" alt="" id="animated1">
            </button>
        </div>
    </div>
</div>
</div>
<!--**로딩 화면-->
<div id="loading_screen" class="loading_hs" style="display: none;">
    <img height="240px"
         src="https://post-phinf.pstatic.net/MjAxODAzMjJfMTU1/MDAxNTIxNjk1MjA4NjQw.0u5eFltqVGXX82UCzbq0eByAxq3SIpGMjvnh5tPHtewg.gmteItEObSTt-wbo60O9tkhdAQ3Iafj1YExJnOGwn1og.GIF/tumblr_m2nz2oZu2S1qkb6keo1_500.gif?type=w1200">
    <div id="loading_data_text">
        <h2>얼굴 분석중 ...</h2>
    </div>
</div>

<!--**결과창 화면-->
<div class="last_screen" style="display: none;">
    <!--    마지막 결과창 제목 삭제함- {사유 = 불필요}-->
        <div id="last_screen_result">
            <div>
                <p>닮은 꼴 포켓몬 사진</p>
            </div>
        </div>

        <div id="last_screen_result_contents">
            <div>
                <p>실행 결과</p>
                <!--            **실행 결과값 입력 하는곳-->
                <p>당신은 ---</p>
            </div>
        </div>
<!--        **처음으로 돌아가기 버튼 구역-->
        <div id="last_screen_bottom">
            <div id="last_screen_return_button">
                <button class="start_click">
                    <p>처음으로 돌아가기</p> <img src="../images/turtle1.png" alt="" width="100px" height="100px"
                                          border-radius="50%" id="static2">
                    <img src="https://t1.daumcdn.net/cfile/tistory/276C463958D371D817" alt="" id="animated2">
                </button>
            </div>
<!--           ** 공유하기 버튼 구역-->
            <div id="last_screen_share_button">
                <button class="start_click">
                    <p>친구에게 공유하기</p> <img src="../images/fire1.png" alt="" id="static3">
                    <img src="https://thumbs.gfycat.com/AssuredSecretLeonberger-size_restricted.gif" alt=""
                         id="animated3">
                </button>
            </div>
        </div>
</div>

<script>
        // 이미지 데이터 받아오는 ajax
        function input_img() {

            let user_img = $('#imgbox').files[0]

            $.ajax({
                type: "POST", //요청 메소드 방식
                url: "/main",
                contentType: false,
                processData: false,
                dataType: { 'give_img': user_img }, //서버가 요청 URL을 통해서 응답하는 내용의 타입
                success: function (response) {
                    alert(response);
                },

            })

        }

        // 버튼 호버 jquery를 사용하여 구현하는 기능
        // $(function () {
        //
        //     /* 클래스 conatiner 안에 img 에 마우스를 올려놓으면 function 실행*/
        //     $("#upload_button").hover(function () {
        //
        //         /* this(img를 뜻함)의 경로를 바꾼다. 어떤 경로? "src"의 경로를. 그리고 경로주소는 this(img)의 src 속성안에 있는 ".png"를 "_over.png"로 바꾼다. 즉, <img src="image.png"> 에서 <img src="image_over.png" 로 바뀌는 거임.*/
        //         $(this).attr("src-기존 이미지주소 넣어주기", $(this).attr("src").replace(".png-기존 이미지", "_over.png-변경된이미지"));
        //     }, function () {
        //
        //         /* 마우스 오버가 아니면 다음을 실행한다. this(img)의 src 경로를 "_over" 이라는 글자를 없앤다. "" 따옴표안에는 아무것도 없으니까 _over 글자를 뺀다는 의미. 즉, <img src="image_over.png"> 에서 <img src="image.png"> 가 된다.*/
        //         $(this).attr("src - 변경된 이미지 주소", $(this).attr("src").replace("_over-변경된 이미지", "-기존 이미지"));
        //     });
        // });


        //     화면을 연속으로 바꿔주는 제이쿼리 함수
            $('.start_click').click(function () {
                $('.div_hide').hide()
                $('.loading_hs').show(2000);
                setTimeout(() =>{
                    $('.loading_hs').hide(0)
                    $('.last_screen').show(1000)
                    },5000);
            })


        // $('#toggle').click(function () {
        //     if ($("#id").css("display") == "none") {
        //         jQuery('#id').show();
        //     } else {
        //         jQuery('#id').hide();
        //     }
        // });




        $('#imgbox')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFiles);
        // 드래그 앤 드랍 할때의 함수
        function dragOver(e) {
            e.stopPropagation();
            e.preventDefault();
            if (e.type == "dragover") {
                $(e.target).css({
                    "background-color": "black",
                    "outline-offset": "-20px"
                });
            } else {
                $(e.target).css({
                    "background-color": "gray",
                    "outline-offset": "-10px"
                });
            }
        }

        // 드래그 앤 드랍 후 파일을 인식하는 함수
        function uploadFiles(e) {
            e.stopPropagation();
            e.preventDefault();
            dragOver(e);

            e.dataTransfer = e.originalEvent.dataTransfer;
            var files = e.target.files || e.dataTransfer.files;
            if (files.length > 1) {
                alert('하나만 올려라.');
                return;
            }
            if (files[0].type.match(/image.*/)) {
                $('.text_hide').hide()
                $(e.target).css({
                    "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                    "outline": "none",
                    "background-size": "100% 100%"
                });
            } else {
                alert('이미지가 아닙니다.');
                return;
            }
        }
    </script>
</body>
</html>